<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="https://sleepystatic.com/" class="site-header">Sleepy Static</a>
    <div id="container">
        <img id="logo" src="{{ url_for('static', filename='zzz_logo.png') }}" alt="ZZZ Logo">
    </div>
    <div id="about-box">
        <p>Welcome to $leepy$tatic</p>
        <p>Inspiring creativity sharing my art while expressing and encouraging a common ground</p>
        <p>For inquiries please reach out through my contact section</p>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>