<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Your Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
</head>
<body>
    <a href="https://sleepystatic.com/" class="site-header">Sleepy Static</a>
    <div id="container">
        <img id="logo" src="{{ url_for('static', filename='zzz_logo.png') }}" alt="ZZZ Logo">
    </div>
    <div id="upload-box">
        <h1>Upload your video for zzz</h1>
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <input type="text" name="output_name" placeholder="Enter output file name" required>
            <button type="submit">Upload & Process</button>
            <div id="progress-bar-container" style="display: none;">
                <div id="progress-bar"></div>
            </div>
            <span id="progress-text" style="display: none;">Processing video...</span>
        </form>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>